{erl_opts,
 [ debug_info
 , warnings_as_errors
 ]}.

{deps, [ {poolboy, "1.5.1"}
       , {katja, {git, "git://github.com/nifoc/katja.git", {tag, "v0.9.2"}}}
       ]}.

{overrides,
 [ {override, katja,
    [ {plugins,
       [ {riak_pb_msgcodegen, {git, "git@github.com:kivra/riak_pb_msgcodegen.git", {ref, "dc51e30"}}}
       , {rebar3_protobuffs_plugin, {git, "git@github.com:kivra/rebar3_protobuffs_plugin.git", {tag, "0.1.1"}}}
       ]}
    , {provider_hooks,
       [{pre, [ {compile, {protobuffs, compile}}
              , {compile, riak_pb_msgcodegen}
              ]}]}
    , {erl_opts, [{d, rand_module}]}
    ]}
 ]}.
